.c-zan {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 22px 20px;
  border-bottom: 1rpx solid #e5e5e5;
}

.c-zan__count {
  display: inline-block;
  width: 40px;
  padding-top: 45px;
  margin-bottom: 10px;
  text-align: center;
  color: #999999;
  font-size: 13px;
  background-image: url(zan.png);
  background-position: center 0;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  &.is-active {
    background-image: url(zan-active.png);
  }
}

.c-zan__users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  image {
    width: 36px;
    height: 36px;
    border: 1px solid #efefef;
    border-radius: 18px;
    margin: 4px;
  }
}
